# =========================
# Secrets & environment
# =========================
.env
**/.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# =========================
# Airflow
# =========================
airflow-project/logs/
airflow-project/plugins/
airflow-project/__pycache__/

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Data artifacts
# =========================
*.json
*.csv
*.parquet
